@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  * {
    line-height: 1.8;
    font-family: 'NanumSquare', sans-serif;
    /* Debugging */
    border-color: red;
    border-width: 1px;
    
    & h1 {
      font-size: 56px;
      font-weight: 600;
    }
    & h2 {
      font-size: 48px;
      // font-weight: 600;
    }
    & h3 {
      font-size: 24px;
      // font-weight: 600;
    }
    & h4 {
      font-size: 20px;
      // font-weight: 600;
    }
  }

  body {
    // margin-top: 64px;
  }

  :root{
  }  

  .margin {
    * {
      margin: 4px; /* Default Margin for all children and nested children */
    } 

    & > * {
      padding-top: 48px; /* Margin for direct children. Apply this with <div> tag. */
      padding-bottom: 48px;
    }
    h1, h2, h3, p {
      padding-left: 64px;
      padding-right: 64px;
    }  
  }

  .no-margin {
    // * {
    //   margin: 0px;
    //   padding: 0px;
    // }
    h1, h2, h3, p {
      margin: 0px;
      padding: 0px;
    }  
  }

  .test-title {
    // font-size: 64px;
    @apply text-6xl font-bold;
  }
  
  .equal-columns > * {
    flex: 1;
  }

  .card-carousel-item-active {
    @apply flex basis-8/12 grow-0 shrink-0;
  }

  .card-carousel-item-inactive {
    @apply flex shrink;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes flex-unshrink-animation {
    100% {
      flex-shrink: 0;
    }
  }
  .animate-flex-unsrhink {
    animation: flex-unshrink-animation 1s forwards;
  }

  @keyframes reveal-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-200px);
    }
  }
  .animate-reveal-up {
    animation: reveal-up 2s 500ms forwards, fade-in 2s 500ms forwards;
  }

  @keyframes reveal-left {
    0% { transform: translateX(180px) }
    20% { transform: translateX(-60px); }
    40% { transform: translateX(30px); }
    60% { transform: translateX(6px); }
    80% { transform: translateX(0px); }
    100% { transform: translateX(0px); }
  }  
  .animate-reveal-left {
    animation: reveal-left 3s 0ms forwards, fade-in 2s 0ms forwards;
  }
  .animate-reveal-left-d1 {
    animation: reveal-left 3s 1s forwards, fade-in 2s 1s forwards;
  }
}
