@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 100;
//   src: url("./fonts/AppleSDGothicNeoT.woff2") format("woff2");
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 200;
//   src: url("./fonts/AppleSDGothicNeoUL.woff2") format("woff2");
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 300;
//   src: url("./fonts/AppleSDGothicNeoL.woff2") format("woff2");
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 400;
//   src: url("./fonts/AppleSDGothicNeoR.woff2") format("woff2");
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 500;
//   src: url("./fonts/AppleSDGothicNeoM.woff2") format("woff2");
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-weight: 600;
//   font-style: normal;
//   src: url("./fonts/AppleSDGothicNeoSB.woff2") format("woff2");
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 700;
//   src: url("./fonts/AppleSDGothicNeoB.woff2") format("woff2");
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-style: normal;
//   font-weight: 800;
//   src: url("./fonts/AppleSDGothicNeoEB.woff2") format("woff2");
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 900;
//   src: url("./fonts/AppleSDGothicNeoH.woff2") format("woff2");
// }


@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/AppleSDGothicNeoL.ttf") format("truetype");
}
@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/AppleSDGothicNeoM.ttf") format("truetype");
}
@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/AppleSDGothicNeoB.ttf") format("truetype");
}
@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/AppleSDGothicNeoEB.ttf") format("truetype");
}
@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/AppleSDGothicNeoH.ttf") format("truetype");
}


@layer base{

  * {
    line-height: 1.8;
    font-family: 'Apple SD Gothic Neo', sans-serif;
    /* Debugging */
    border-color: red;
    border-width: 1px;
  }

  /* heading & paragraph */
  h1 {
    font-size: 3.5rem;
    font-weight: 800;
  }
  h2 {
    font-size: 3rem;
    font-weight: 800;
  }
  h3 {
    font-size: 2rem;
    font-weight: 800;
  }
  h4 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  h5 {
    font-size: 1rem;
    font-weight: 300;
  }
  h6 {
    font-size: 0.75rem;
    font-weight: 300;
  }
  p {
    font-size: 0.75rem;
    font-weight: 300;
  }


  /* heading & paragraph: responsive */
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
      font-weight: 800;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 800;
    }
    h3 {
      font-size: 1.25rem;
      font-weight: 800;
    }
    h5 {
      font-size: 0.8rem;
      font-weight: 300;
    }
  }
  body {
    // margin-top: 64px;
    // font-family: 'Apple SD Gothic Neo', sans-serif;
  }

  :root{
  }  

  .margin {
    // * {
    //   margin: 4px; /* Default Margin for all children and nested children */
    // } 

    // & > * {
    //   padding-top: 48px; /* Margin for direct children. Apply this with <div> tag. */
    //   padding-bottom: 48px;
    // }
    // h1, h2, h3, p {
    //   padding-left: 64px;
    //   padding-right: 64px;
    // }  
  }

  .no-margin {
    // * {
    //   margin: 0px;
    //   padding: 0px;
    // }
    h1, h2, h3, p {
      margin: 0px;
      padding: 0px;
    }  
  }

  .test-title {
    // font-size: 64px;
    @apply text-6xl font-bold;
  }
  
  .equal-columns > * {
    flex: 1;
  }

  .card-carousel-item-active {
    @apply flex basis-8/12 grow-0 shrink-0;
  }

  .card-carousel-item-inactive {
    @apply flex shrink;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes flex-unshrink-animation {
    100% {
      flex-shrink: 0;
    }
  }
  .animate-flex-unsrhink {
    animation: flex-unshrink-animation 1s forwards;
  }

  @keyframes reveal-up {
    0% {
      transform: translateY(200px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .animate-reveal-up {
    animation: reveal-up 1.5s 500ms forwards, fade-in 1.5s 500ms forwards;
  }
  @keyframes reveal-left {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes reveal-left-bounce {
    0% { transform: translateX(180px) }
    20% { transform: translateX(-60px); }
    40% { transform: translateX(30px); }
    60% { transform: translateX(6px); }
    80% { transform: translateX(0px); }
    100% { transform: translateX(0px); }
  }  
  .animate-reveal-left {
    animation: reveal-left 1.5s 500ms forwards, fade-in 1.5s 500ms forwards;
  }
  .animate-reveal-left-bounce {
    animation: reveal-left-bounce 3s 1s forwards, fade-in 2s 1s forwards;
  }

  @keyframes fade {
    from {
      opacity: 0;
      // transform: translateY(-5%);
    }
    to {
      opacity: 1;
      // transform: translateY(0);
    }
  }
  .fadeIn {
    animation: fade 0.75s ease-in-out 0s 1 normal forwards;
  }
  
  .fadeOut {
    animation: fade 0.75s ease-in-out 0s 1 reverse forwards;
  }

  @keyframes focusCard {
    from {
      width:64;
      height:40;
      // transform: translateY(-5%);
    }
    to {
      width:72;
      height:64;
    }
  }
  .focusCard {
    animation: focusCard 0.5s ease-in-out 0s 1 normal forwards;
  }

}
