@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  :root{
    line-height: 1.5;
  }
  
  .page {
    & > * {
      margin: 48px 0px;
      // justify-content: 'center';
    }
  }

  .test-title {
    // font-size: 64px;
    @apply text-6xl font-bold;
  }
  
  .equal-columns > * {
    flex: 1;
  }

  .card-carousel-item-active {
    @apply flex basis-8/12 grow-0 shrink-0;
  }

  .card-carousel-item-inactive {
    @apply flex shrink;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes flex-unshrink-animation {
    100% {
      flex-shrink: 0;
    }
  }
  .animate-flex-unsrhink {
    animation: flex-unshrink-animation 1s forwards;
  }

  @keyframes reveal-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-200px);
    }
  }
  .animate-reveal-up {
    animation: reveal-up 2s 500ms forwards, fade-in 2s 500ms forwards;
  }

  @keyframes reveal-left {
    0% { transform: translateX(180px) }
    20% { transform: translateX(-60px); }
    40% { transform: translateX(30px); }
    60% { transform: translateX(6px); }
    80% { transform: translateX(0px); }
    100% { transform: translateX(0px); }
  }  
  .animate-reveal-left {
    animation: reveal-left 3s 0ms forwards, fade-in 2s 0ms forwards;
  }
  .animate-reveal-left-d1 {
    animation: reveal-left 3s 1s forwards, fade-in 2s 1s forwards;
  }
}
